<%- include("partials/header.ejs") %>

<div class="question-text">
  <div class="question-text">
    <p><%=question%></p>
  </div>
  <div>
    <form action="/check" type="POST">
      <input name="userAnswer" />
      <button type="submit">Submit Answer</button>
    </form>
  </div>
</div>
<%- include("partials/footer.ejs") %>
